audit=true
engine-strict=true
fund=false
legacy-peer-deps=false
lockfile-version=3
package-lock=true
registry=https://registry.npmjs.org/
replace-registry-host=never
save-exact=true
strict-peer-deps=true
update-notifier=false
